:root {
  --font-family-base: 'Work Sans', sans-serif;
  --button-font-family: 'Work Sans', sans-serif;
  --button-border-radius: 6px;
  --card-border-radius: 6px;
  --color-primary: 255, 2, 121;
  --top-app-bar-height-desktop: 64px;
  --top-app-bar-height-phone: 56px;
}
